.occupied{
    fill: red;

}
.unoccupied{
    fill: green;


}

.emb .mouseover {
    opacity: 0.7;
}

.emb .mouseover {
    opacity: 0.7;
}

.emb .mouseoff {
    opacity: 1;
}


.deskInfo {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 3px 5px 3px 5px;
    font: 1em sans-serif;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    background-color: ghostwhite;
}

.firstLine {
    font-size: 1em;
    font-weight: bold;
    fill:red;
}

.secondLine {
    font-size: 0.8em;
    font-weight: normal;
}

.deskInfoSVG {
    width: auto;
    height: auto;
    text-align: right;
    padding: 3px 5px 3px 5px;

}